@page
@model K9_Koinz.Pages.JobStatuses.IndexModel

@{
    ViewData["Title"] = "Job Statuses";
}

<h1>Execution History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecordList.First().JobName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordList.First().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordList.First().EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordList.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordList.First().StackTrace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordList.First().ErrorMessages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordList.First().NextRunTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RecordList) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StackTrace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorMessages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextRunTime)
                </td>
            </tr>
        }
    </tbody>
</table>
