@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Savings.Goals.EditModel

@{
    ViewData["Title"] = "Edit Savings Goal";
}

<h1>Edit</h1>

<h4>Savings Goal</h4>
<hr />

<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.Id" />
            <input type="hidden" asp-for="Record.SavingsType" />
            <input type="hidden" asp-for="Record.SavedAmount" />
            <div class="form-group form-floating">
                <input asp-for="Record.Name" class="form-control" placeholder="Name" />
                <label asp-for="Record.Name"></label>
                <span asp-validation-for="Record.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <input asp-for="Record.Description" class="form-control" placeholder="Description" />
                <label asp-for="Record.Description"></label>
                <span asp-validation-for="Record.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <select asp-for="Record.AccountId" class="form-control" asp-items="@Model.AccountOptions">
                    <option value="" selected disabled>Select an Account...</option>
                </select>
                <label asp-for="Record.AccountId"></label>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">$</span>
                <div class="form-floating">
                    <input asp-for="Record.TargetAmount" class="form-control recalculate" placeholder="Target Amount" />
                    <label asp-for="Record.TargetAmount"></label>
                </div>
                <span asp-validation-for="Record.TargetAmount" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <input asp-for="Record.StartDate" class="form-control recalculate" value="@DateTime.Today.FormatForUrl()" placeholder="Start Date" />
                <label asp-for="Record.StartDate"></label>
                <span asp-validation-for="Record.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <input asp-for="Record.TargetDate" class="form-control recalculate" placeholder="Target Date" value="@Model.Record.TargetDate.FormatForUrl()" />
                <label asp-for="Record.TargetDate"></label>
                <span asp-validation-for="Record.TargetDate" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <div class="form-floating">
                    <input asp-for="Record.StartingAmount" class="form-control recalculate" placeholder="Starting Amount" />
                    <label asp-for="Record.StartingAmount"></label>
                </div>
                <span asp-validation-for="Record.StartingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-switch">
                    @Html.EditorFor(x => x.Record.IsActive, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label" asp-for="Record.IsActive"></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" readonly class="form-control-plaintext" id="calculatedAmount" value="Target Will Display Here">
                <label for="calculatedAmount">Monthly Savings</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary my-2">
            <i class="fa-solid fa-floppy-disk"></i> Save
        </button>
    </div>
</form>

<div>
    <a asp-page="@PagePaths.SavingsIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/savingsGoalCalculator.js"></script>
}
