@page
@model K9_Koinz.Pages.Savings.Buckets.DetailsModel

@{
    ViewData["Title"] = "Savings Bucket Details";
}

<h1>Details</h1>
<div>
    <h4>Savings Bucket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.Description)
        </dt>
        <dd class="col-sm-9">
            @if (string.IsNullOrEmpty(Model.Record.Description)) {
                <text>&nbsp;</text>
            } else {
                @Html.DisplayFor(model => model.Record.Description)
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.AccountId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.AccountName)
        </dd>
        <dt class="col-sm-3">
            Scheduled Transfers
        </dt>
        <dd class="col-sm-9">
            @if (Model.ScheduledTransfers.Count == 0) {
                <text>&nbsp;</text>
            } else {
                @foreach (var transfer in Model.ScheduledTransfers) {
                    <span>
                        <a class="no-underline" asp-page="@PagePaths.RecurringTransferDetails" asp-route-id="@transfer.Id">@transfer.RepeatConfig.RepeatString</a> &nbsp;
                    </span>
                }
            }
        </dd>
        @if (Model.Record.StartingAmount.HasValue) {
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Record.StartingAmount)
            </dt>
            <dd class="col-sm-9">
                @Model.Record.StartingAmount.Value.FormatCurrency(0)
            </dd>
        }
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.SavedAmount)
        </dt>
        <dd class="col-sm-9">
            @Model.Record.SavedAmount.FormatCurrency(0)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.TotalContributed)
        </dt>
        <dd class="col-sm-9">
            @Model.Record.TotalContributed.FormatCurrency(0)
        </dd>

        @await Component.InvokeAsync(nameof(Components.DateFields), new {
             record = Model.Record
        })
    </dl>
</div>

<div class="row">
    <h5>Transactions</h5>
    @if (Model.Record.Transactions.Any()) {
        <div class="col-sm-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.Record.Transactions.OrderByDescending(trans => trans.Date)) {
                        <tr>
                            <td>@transaction.Date.FormatShortString()</td>
                            <td>@transaction.Amount.FormatCurrency(2)</td>
                            <td>
                                <a asp-page="@PagePaths.TransactionDetails" asp-route-id="@transaction.Id"><i class="fa-solid fa-circle-info"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    } else {
        <div class="col-sm-5 mb-3">
            You do not have any transactions towards this bucket, yet.
        </div>
    }
</div>
<div>
    <a asp-page="@PagePaths.SavingsBucketEdit" asp-route-id="@Model.Record.Id" class="btn btn-primary mb-2">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    <a asp-page="@PagePaths.SavingsBucketDelete" asp-route-id="@Model.Record.Id" class="btn btn-danger mb-2">
        <i class="fa-solid fa-trash"></i> Delete
    </a>
</div>
<a asp-page="@PagePaths.SavingsIndex">Back to List</a>