@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.SavingsGoals.IndexModel
@{
    ViewData["Title"] = "Savings Goals List";
}

<style>
    .marker-list {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

        .marker-list .marker {
            position: absolute;
            width: 1px;
            height: 20px;
            background-color: black;
        }

    .list-group-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 0.25rem !important;
        margin-top: 0.25rem !important;
        border: none !important;
    }

    .list-group {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
</style>

<h1>Savings Goals</h1>

@if (!Model.SavingsGoalsDict.Values.SelectMany(x => x).Any()) {
    <div>
        <p>You do not have any savings goals created yet.  Click the button below to make one!</p>
        <a asp-page="./Create" class="btn btn-primary">New Savings Goal</a>
    </div>
} else {
    <p>
        <a asp-page="Create">New Goal</a>
    </p>
}

@foreach (var goalGroups in Model.SavingsGoalsDict.OrderBy(x => x.Key)) {
    <h2>@goalGroups.Key</h2>

    <ul class="list-group">
        @foreach (var goal in goalGroups.Value) {
            <li class="list-group-item">

                <h4>@goal.Name</h4>
                <p>@goal.Description</p>

                @{
                    var todayLine = "left: " + goal.TimePercent + "%;";
                    var savedWidth = "width: " + goal.SavingsPercent + "%;";
                }

                <div class="row" style="margin-bottom:-5px">
                    <div class="col">
                        <p>Started: @goal.StartDate.FormatShortString()</p>
                    </div>
                    <div class="col">
                        <p style="text-align: right">
                            @if (goal.TargetDate.HasValue) {
                                <span style="font-weight:lighter;">
                                    @{
                                        var daysLeft = (goal.TargetDate.Value - DateTime.Now).Days;
                                        if (daysLeft > 14) {
                                            <text>
                                                (@(daysLeft / 7) Weeks Left)
                                            </text>
                                        } else {
                                            <text>
                                                (@daysLeft Days Left)
                                            </text>
                                        }
                                    }
                                    &nbsp;
                                </span>
                                <text>@goal.TargetDate.Value.FormatShortString()</text>
                            } else {
                                <text>No end date specified</text>
                            }
                        </p>
                    </div>
                </div>

                <div class="row" style="margin-bottom:5px;">
                    <div class="col">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" style="@savedWidth">
                                <ul class="marker-list">
                                    <li class="marker" style="@todayLine"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>
                            Saved So Far: @goal.SavedAmount.FormatCurrency(0)
                        </p>
                    </div>
                    <div class="col">
                        <p style="text-align: right;">
                            <text>Goal: @goal.TargetAmount.FormatCurrency(0)</text>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        @if (goal.TargetDate.HasValue && goal.SavedAmount < goal.TargetAmount) {
                            var daysLeft = (goal.TargetDate.Value - DateTime.Now).Days;
                            var differenceInMoney = goal.TargetAmount - goal.TotalContributed;
                            var dailyAmount = differenceInMoney / daysLeft;

                            if (daysLeft <= 31) {
                                var weeklyAmount = dailyAmount * 7;
                                <text>
                                    You will need to save: @weeklyAmount.FormatCurrency(0) per week to meet your goal.
                                </text>
                            } else if (daysLeft > 31) {
                                var monthlyAmount = dailyAmount * 30;
                                <text>
                                    You will need to save: @monthlyAmount.FormatCurrency(0) per month to meet your goal.
                                </text>
                            }
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
}
