@page
@using Models
@model K9_Koinz.Pages.Bills.CreateModel

@{
    ViewData["Title"] = "Create New Bill";
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.FloatingFormInput(model => Model.Record.Name)
            <div class="form-group form-floating">
                <select asp-for="Record.AccountId" class="form-control" asp-items="@Model.AccountOptions">
                    <option value="" selected disabled>Select an Account...</option>
                </select>
                <label asp-for="Record.AccountId"></label>
            </div>
            @Html.FloatingFormInput(model => Model.Record.MerchantId, autocompleteKey: "Merchant")
            @Html.FloatingFormInput(model => Model.Record.CategoryId, autocompleteKey: "Category")
            @Html.FloatingFormInput(model => Model.Record.Amount, "number")
            @Html.FloatingFormInput(model => Model.Record.RepeatConfig.FirstFiring, "date")
            @Html.FloatingFormInput(model => Model.Record.RepeatConfig.TerminationDate, "date")
            <div class="form-group form-floating">
                <select asp-for="Record.RepeatConfig.Mode" id="modeSelector" class="form-control" asp-items="Html.GetEnumSelectList<RepeatMode>()">
                    <option value="" selected disabled>Select a Mode...</option>
                </select>
                <label asp-for="Record.RepeatConfig.Mode"></label>
                <span asp-validation-for="Record.RepeatConfig.Mode"></span>
            </div>
            <div class="form-group form-floating">
                <select asp-for="Record.RepeatConfig.Frequency" class="form-control" asp-items="Html.GetEnumSelectList<RepeatFrequency>()">
                    <option value="" selected disabled>Select a Frequency...</option>
                </select>
                <label asp-for="Record.RepeatConfig.Frequency"></label>
                <span asp-validation-for="Record.RepeatConfig.Frequency" class="text-danger"></span>
            </div>
            @Html.FloatingFormInput(model => Model.Record.RepeatConfig.IntervalGap, "number", "grpIntervalGap")
            <div class="form-group">
                <div class="form-check form-switch">
                    @Html.EditorFor(x => x.Record.IsAutopay, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label" asp-for="Record.IsAutopay"></label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary my-2">
                    <i class="fa-solid fa-floppy-disk"></i> Create
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/repeatConfigModeToggler.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
