@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Bills.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.AccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.MerchantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.MerchantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.BillAmount)
        </dt>
        <dd class="col-sm-10">
            @Model.Record.BillAmount.FormatCurrency(2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.RepeatFrequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.RepeatString)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Record.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
