@page
@using Utils
@model K9_Koinz.Pages.Bills.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.AccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.MerchantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.MerchantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.BillAmount)
        </dt>
        <dd class="col-sm-10">
            @Model.Bill.BillAmount.FormatCurrency(2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.RepeatFrequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.RepeatString)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bill.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
