@page
@using Utils
@model K9_Koinz.Pages.Bills.DetailsModel

@{
    ViewData["Title"] = "Bill Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.AccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.MerchantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.MerchantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.BillAmount)
        </dt>
        <dd class="col-sm-10">
            @Model.Record.BillAmount.FormatCurrency(2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.RepeatConfig.RepeatString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.RepeatConfig.RepeatString)
        </dd>
        @if (Model.Record.RepeatConfig.TerminationDate.HasValue) {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Record.RepeatConfig.TerminationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Record.RepeatConfig.TerminationDate)
            </dd>
        }
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.IsAutopay)
        </dt>
        <dd class="col-sm-9">
            @(Model.Record.IsAutopay ? "Yes" : "No")
        </dd>
    </dl>
</div>

<h5>Transaction Dates</h5>
<div class="col-sm-3">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var transaction in Model.Record.Transactions.OrderByDescending(trans => trans.Date)) {
                <tr>
                    <td>
                        <a asp-page="@PagePaths.TransactionDetails" asp-route-id="@transaction.Id">
                            @Html.DisplayFor(trans => transaction.Date)
                        </a>
                    </td>
                    <td>
                        @transaction.Amount.FormatCurrency(2)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="@PagePaths.BillEdit" asp-route-id="@Model.Record.Id" class="btn btn-primary mb-2">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    <a asp-page="@PagePaths.BillDelete" asp-route-id="@Model.Record.Id" class="btn btn-danger mb-2">
        <i class="fa-solid fa-trash"></i> Delete
    </a>
</div>

<a asp-page="@PagePaths.BillIndex">Back to List</a>
