@page
@model K9_Koinz.Pages.Bills.DetailsModel

@{
    ViewData["Title"] = "Bill Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.AccountId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.AccountName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.MerchantId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.MerchantName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.Amount)
        </dt>
        <dd class="col-sm-9">
            @Model.Record.Amount.FormatCurrency(2)
        </dd>
        @if (Model.Record.SavingsGoalId.HasValue) {
            var destPage = "";
            if (Model.Record.SavingsGoal.SavingsType == SavingsType.GOAL) {
                destPage = PagePaths.SavingsGoalDetails;
            } else if (Model.Record.SavingsGoal.SavingsType == SavingsType.BUCKET) {
                destPage = PagePaths.SavingsBucketDetails;
            }
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Record.SavingsGoalId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Record.SavingsGoalName)
                <a asp-page="@destPage" asp-route-id="@Model.Record.SavingsGoalId"><i class="fa-solid fa-circle-info"></i></a>
            </dd>
        }
        @if (Model.Record.IsRepeatBill) {
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Record.RepeatConfig.RepeatString)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Record.RepeatConfig.RepeatString)
            </dd>
            @if (Model.Record.RepeatConfig.TerminationDate.HasValue) {
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Record.RepeatConfig.TerminationDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Record.RepeatConfig.TerminationDate)
                </dd>
            }
        }
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.IsAutopay)
        </dt>
        <dd class="col-sm-9">
            @(Model.Record.IsAutopay ? "Yes" : "No")
        </dd>

        @await Component.InvokeAsync(nameof(Components.DateFields), new {
            record = Model.Record
        })
    </dl>
</div>

<h5>Transaction Dates</h5>
<div class="col-sm-4">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var transaction in Model.Record.Transactions.OrderByDescending(trans => trans.Date)) {
                <tr>
                    <td>
                        @Html.DisplayFor(trans => transaction.Date)
                    </td>
                    <td>
                        @if (transaction.TransactionType == Models.TransactionType.PLUS) {
                            <span class="text-success">
                                @Math.Abs(transaction.Amount).FormatCurrency()
                            </span>
                        } else {
                            <span class="text-danger">
                                @Math.Abs(transaction.Amount).FormatCurrency()
                            </span>
                        }
                    </td>
                    <td>
                        <a asp-page="@PagePaths.TransactionDetails" asp-route-id="@transaction.Id"><i class="fa-solid fa-circle-info"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="@PagePaths.BillEdit" asp-route-id="@Model.Record.Id" class="btn btn-primary mb-2">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    <a asp-page="@PagePaths.BillDelete" asp-route-id="@Model.Record.Id" class="btn btn-danger mb-2">
        <i class="fa-solid fa-trash"></i> Delete
    </a>
</div>

<a asp-page="@PagePaths.BillIndex">Back to List</a>
