@page
@model K9_Koinz.Pages.Bills.EditModel

@{
    ViewData["Title"] = "Edit Bill";
}

<h1>Edit</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.Id" />
            <input type="hidden" asp-for="Record.RepeatConfig.LastFiring" />
            @Html.FloatingFormInput(model => Model.Record.Name)
            @Html.FloatingFormAutocompleteInput(model => Model.Record.AccountId, "Account", text: Model.Record.AccountName)
            @Html.FloatingFormAutocompleteInput(model => Model.Record.MerchantId, "Merchant", text: Model.Record.MerchantName)
            @Html.FloatingFormAutocompleteInput(model => Model.Record.CategoryId, "Category", text: Model.Record.CategoryName)
            @Html.FloatingFormInput(model => Model.Record.Amount, "number")
            @Html.FloatingFormInput(model => Model.Record.RepeatConfig.FirstFiring, "date")
            @Html.FloatingFormInput(model => Model.Record.RepeatConfig.TerminationDate, "date")
            @Html.FloatingFormEnumSelect(model => Model.Record.RepeatConfig.Mode, typeof(RepeatMode), placeholder: "Select a Mode...")
            @Html.FloatingFormEnumSelect(model => Model.Record.RepeatConfig.Frequency, typeof(RepeatFrequency), placeholder: "Select a Freqency...")
            @Html.FloatingFormInput(model => Model.Record.RepeatConfig.IntervalGap, divId: "grpIntervalGap")
            <div class="form-group">
                <div class="form-check form-switch">
                    @Html.EditorFor(x => x.Record.IsAutopay, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label" asp-for="Record.IsAutopay"></label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-2">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
            </div>
            @Html.SubmitButton("Save", icon: "fa-floppy-disk")
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/repeatConfigModeToggler.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
