@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Bills.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bills</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@foreach (var accountEntry in Model.AccountsWithBills) {
    <h4>@accountEntry.Value.Name</h4>
    <p>Total Due This Month: @accountEntry.Value.AmountDueThisMonth.FormatCurrency(0)</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bills[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bills[0].MerchantId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bills[0].RepeatFrequency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bills[0].BillAmount)
                </th>
                <th>
                    Next Due Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bills.Where(bill => bill.AccountId == accountEntry.Key)) {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.MerchantName
                    </td>
                    <td>
                        @item.RepeatString
                    </td>
                    <td>
                        @item.BillAmount.FormatCurrency(2)
                    </td>
                    <td>
                        @if (item.NextDueDate.HasValue) {
                            @Html.DisplayFor(x => item.NextDueDate)
                            <span style="font-weight:lighter;">
                                @{
                                    var daysRemaining = (item.NextDueDate.Value - DateTime.Today).Days;
                                    if (daysRemaining < 0) {
                                        <text>&nbsp;</text>
                                    } else if (daysRemaining >= 0 && daysRemaining < 1) {
                                        <text>(Today)</text>
                                    } else if (daysRemaining == 1) {
                                        <text>(Tomorrow)</text>
                                    } else {
                                        <text>(@daysRemaining Days)</text>
                                    }
                                }
                            </span>
                        } else {
                            <span class="text-danger">Error</span>
                        }
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a> |
                        <a asp-page="./Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}