@page
@model K9_Koinz.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Delete Category";
}

<h1>Delete</h1>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
@if (Model.Record.ChildCategories.Any()) {
    <h5>Doing so will also delete all child categories.</h5>
}

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Name)
        </dd>
        @if (Model.Record.ChildCategories.Any()) {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Record.ChildCategories)
            </dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var child in Model.Record.ChildCategories) {
                        <li>@child.Name</li>
                    }
                </ul>
            </dd>
        }
        @if (Model.Record.IsChildCategory) {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Record.ParentCategoryId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Record.ParentCategoryName)
            </dd>
        }
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Record.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="@PagePaths.CategoryIndex">Back to List</a>
    </form>
</div>
