@page
@model K9_Koinz.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Category Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Name)
        </dd>
        @if (Model.Record.ChildCategories.Any()) {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Record.ChildCategories)
            </dt>
            <dd class="col-sm-10">
                <ul>
                    @foreach (var child in Model.Record.ChildCategories.OrderBy(cCat => cCat.Name)) {
                        <li>@child.Name</li>
                    }
                </ul>
            </dd>
        }
        @if (Model.Record.IsChildCategory) {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Record.ParentCategoryId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Record.ParentCategoryName)
            </dd>
        }
        @if (Model.Record.CreatedDate != DateTime.MinValue) {
            <dt class="col-sm-2 mt-4">
                @Html.DisplayNameFor(model => model.Record.CreatedDate)
            </dt>
            <dd class="col-sm-10 mt-4">
                @Html.DisplayFor(model => model.Record.CreatedDate)
            </dd>
        }
        @if (Model.Record.LastModifiedDate != DateTime.MinValue) {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Record.LastModifiedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Record.LastModifiedDate)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Record.Id" class="btn btn-primary mb-2">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
</div>
