@page
@using K9_Koinz.Models
@model K9_Koinz.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.Id" />
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryType" class="control-label"></label>
                <select asp-for="Category.CategoryType" class="form-control" asp-items="@Html.GetEnumSelectList<CategoryType>()"></select>
                <span asp-validation-for="Category.CategoryType" class="text-danger"></span>
            </div>
            @if (Model.Category.IsChildCategory) {
                <div class="form-group">
                    <label asp-for="Category.ParentCategoryId" class="control-label"></label>
                    <input id="txtParentCategory" class="form-control" value="@Model.Category.ParentCategory.Name" />
                    <input asp-for="Category.ParentCategoryId" type="hidden" id="hfParentCategory" />
                    <span asp-validation-for="Category.ParentCategoryId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (!Model.Category.IsChildCategory) {
    <h4>Child Categories</h4>
    <div class="col-sm-5">
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <a class="btn btn-outline-primary" asp-page="/Categories/Create" asp-route-parentCategoryId="@Model.Category.Id">Add Child</a>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var childCategory in Model.Category.ChildCategories) {
                    <tr>
                        <td>
                            @childCategory.Name
                        </td>
                        <td>
                            <a asp-page="/BudgetLines/Edit" asp-route-id="@childCategory.Id">Edit</a> |
                            <a asp-page="/BudgetLines/Delete" asp-route-id="@childCategory.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <!-- jQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />

    <script type="text/javascript">
        $(function () {
            $("#txtParentCategory").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Categories/Edit?handler=ParentCategoryAutoComplete",
                        data: { text: request.term },
                        type: "GET",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(JSON.stringify(response));
                        },
                        failure: function (response) {
                            alert(JSON.stringify(response));
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfParentCategory").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}
