@page
@model K9_Koinz.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />

<div class="alert alert-info">
    For a list of available icons, click <a href="https://fontawesome.com/search?o=r&m=free" target="_blank">here</a> . You can search for icons and copy /paste the icon name to customize your category!
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.Id" />
            <div class="form-group">
                <label asp-for="Record.Name" class="control-label"></label>
                <input asp-for="Record.Name" class="form-control" />
                <span asp-validation-for="Record.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.FontAwesomeIcon" class="control-label"></label>
                <input asp-for="Record.FontAwesomeIcon" class="form-control" />
                <span asp-validation-for="Record.FontAwesomeIcon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.CategoryType" class="control-label"></label>
                <select asp-for="Record.CategoryType" class="form-control" asp-items="@Html.GetEnumSelectList<CategoryType>()"></select>
                <span asp-validation-for="Record.CategoryType" class="text-danger"></span>
            </div>
            @if (Model.Record.IsChildCategory) {
                <div class="form-group">
                    <label asp-for="Record.ParentCategoryId" class="control-label"></label>
                    <input id="txtCategory" class="form-control" value="@Model.Record.ParentCategory.Name" />
                    <input asp-for="Record.ParentCategoryId" type="hidden" id="hfCategory" />
                    <span asp-validation-for="Record.ParentCategoryId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-2">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

@if (!Model.Record.IsChildCategory) {
    <h4>Child Categories</h4>
    <div class="col-sm-5">
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <a class="btn btn-outline-primary" asp-page="@PagePaths.CategoryCreate" asp-route-relatedId="@Model.Record.Id">Add Child</a>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var childCategory in Model.Record.ChildCategories.OrderBy(cCat => cCat.Name)) {
                    <tr>
                        <td>
                            @childCategory.Name
                        </td>
                        <td>
                            <a asp-page="@PagePaths.CategoryEdit" asp-route-id="@childCategory.Id">Edit</a> |
                            <a asp-page="@PagePaths.CategoryDelete" asp-route-id="@childCategory.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-page="@PagePaths.CategoryIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
