@page
@using Models
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories List";
}

<h1>Categories</h1>

<a asp-page="Create" class="no-underline-ever">
    <span class="btn btn-success btn-sm mb-3">
        <i class="fa-solid fa-plus"></i> Create New
    </span>
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Categories.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Categories.FirstOrDefault().CategoryType)
                </th>
            <th>
                Transaction Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories) {
            <tr style="background-color: #eee;">
                <td style="font-weight: bold;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="font-weight: bold;">
                    @Html.DisplayFor(modelItem => item.CategoryType)
                </td>
                <td style="font-weight: bold;">
                    @Html.DisplayFor(modelItem => item.Transactions.Count) 
                    @if (!item.IsChildCategory) {
                        <text>
                            (@item.ChildCategories.Sum(cCat => cCat.Transactions.Count))
                        </text>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info text-dark"></i></a>
                    @if (!item.Transactions.Any()) {
                        <text>
                            | <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash text-danger"></i></a>
                        </text>
                    }
                </td>
            </tr>
            @if (!item.IsChildCategory) {
                @foreach (var childCat in item.ChildCategories.OrderBy(cCat => cCat.Name)) {
                    <tr>
                        <td>
                            <span class="mx-4">
                                @Html.DisplayFor(modelItem => childCat.Name)
                            </span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => childCat.CategoryType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => childCat.Transactions.Count)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@childCat.Id"><i class="fa-solid fa-pencil"></i></a> |
                            <a asp-page="./Details" asp-route-id="@childCat.Id"><i class="fa-solid fa-circle-info text-dark"></i></a>
                            @if (!childCat.Transactions.Any()) {
                                <text>
                                    | <a asp-page="./Delete" asp-route-id="@childCat.Id"><i class="fa-solid fa-trash text-danger"></i></a>
                                </text>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>