@page
@using Models
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Budgets.EditModel

@{
    ViewData["Title"] = "Edit Budget";
}

<h1>Edit</h1>

<h4>Budget</h4>
<hr />
<div class="row mb-3">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.DoNotUseCategories" />
            <input type="hidden" asp-for="Record.Id" />
            <div class="form-group form-floating">
                <input asp-for="Record.Name" class="form-control" placeholder="Name"/>
                <label asp-for="Record.Name"></label>
                <span asp-validation-for="Record.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <select asp-for="Record.Timespan" class="form-control" asp-items="@Html.GetEnumSelectList<BudgetTimeSpan>()">
                    <option disabled selected>Select one...</option>
                </select>
                <label asp-for="Record.Timespan"></label>
                <span asp-validation-for="Record.Timespan" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <input asp-for="Record.Description" class="form-control" placeholder="Description"/>
                <label asp-for="Record.Description"></label>
                <span asp-validation-for="Record.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-floating">
                <select asp-for="Record.BudgetTagId" class="form-control" asp-items="@Model.TagOptions">
                    @if (Model.Record.DoNotUseCategories) {
                        <option value="@Guid.Empty" selected disabled>No Tag</option>
                    } else {
                        <option value="@Guid.Empty" selected>No Tag</option>
                    }
                </select>
                <label asp-for="Record.BudgetTagId"></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-2">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

@if (!Model.Record.DoNotUseCategories) {
    <h4>Budget Lines</h4>

    <div class="col-sm-5">
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Budgeted Amount</th>
                    <th>
                        <a class="btn btn-outline-primary" asp-page="@PagePaths.BudgetLineCreate" asp-route-relatedId="@Model.Record.Id">Add Line</a>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var budgetLine in Model.Record.BudgetLines) {
                    <tr>
                        <td>
                            @budgetLine.BudgetCategory.Name
                        </td>
                        <td>
                            <div class="col-sm-3">
                                @budgetLine.BudgetedAmount.FormatCurrency()
                            </div>
                        </td>
                        <td>
                            <a asp-page="@PagePaths.BudgetLineEdit" asp-route-id="@budgetLine.Id">Edit</a> |
                            <a asp-page="@PagePaths.BudgetLineDelete" asp-route-id="@budgetLine.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-page="@PagePaths.BudgetIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
