@page
@using Models
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Budgets.IndexModel

@{
    ViewData["Title"] = "Budgets";
}

<style>
    .marker-list {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

        .marker-list .marker {
            position: absolute;
            width: 1px;
            height: 20px;
            background-color: black;
        }
</style>

<h1>Budgets</h1>

@if (!Model.Budgets.Any()) {
    <div>
        <p>You do not have any budgets created yet.  Click the button below to make one!</p>
        <a asp-page="./Create" class="btn btn-primary">New Budget</a>
    </div>
} else {
    <p>
        <a asp-page="Create">New Budget</a>
    </p>

    <div>
        <ul class="nav nav-pills mb-2 row">
            @foreach (var budget in Model.Budgets) {
                var navClassList = "nav-link";
                if (budget.Id == Model.SelectedBudget.Id) {
                    navClassList += " active";
                }

                <li class="nav-item col-md">
                    <a style="text-align:center;" asp-page="./Index" asp-route-selectedBudget="@budget.Id" class="@navClassList">@budget.Name</a>
                </li>
            }
        </ul>
    </div>

    <div class="row mb-4">
        @foreach (var period in Model.PeriodOptions) {
            var classList = "btn";
            if (period.IsSelected) {
                classList += " btn-secondary";
            } else {
                classList += " btn-outline-secondary";
            }

            if (period.IsDisabled) {
                classList += " disabled";
            }
            <div class="col mb-2" style="text-align:center">
                <a class="@classList" asp-page="./Index" asp-route-budgetPeriod="@period.ValueString" asp-route-selectedBudget="@Model.SelectedBudget.Id">@period.Text</a>
            </div>
        }
    </div>
}

@if (Model.SelectedBudget == null) {
    if (Model.Budgets.Any()) {
        <p>There has been an error displaying your selected budget.</p>
    }
} else {
    <h2>
        <a asp-page="./Details" asp-route-id="@Model.SelectedBudget.Id">@Model.SelectedBudget.Name</a>
    </h2>

    <p>@Model.SelectedBudget.Description</p>

    <hr />

    @if (Model.SelectedBudget.IncomeLines.Any()) {
        <div class="row">
            <div class="col">
                <h4>Income</h4>
            </div>
            <div class="col">
                <h4 style="text-align: right;">
                    @Model.SelectedBudget.IncomeLines.Sum(line => line.SpentAmount).FormatCurrency(0) of @Model.SelectedBudget.IncomeLines.Sum(line => line.BudgetedAmount).FormatCurrency(0)
                </h4>
            </div>
        </div>
        <ul class="list-group mb-4">
            @foreach (var budgetLine in Model.SelectedBudget.IncomeLines) {
                var spentOverBudgetedPercent = Math.Clamp((budgetLine.SpentAmount / budgetLine.BudgetedAmount) * 100, 0, 100);

                var width = "width: " + spentOverBudgetedPercent + "%;";
                var todayLine = "left: " + budgetLine.TimePerent + "%;";

                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <p>@budgetLine.BudgetCategory.Name</p>
                        </div>
                        <div class="col">
                            <p style="text-align: right;">@budgetLine.Budget.TimespanString</p>
                        </div>
                    </div>

                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar" role="progressbar" style="@width">
                            <ul class="marker-list">
                                <li class="marker" style="@todayLine"></li>
                            </ul>
                        </div>

                    </div>
                    <div class="text-secondary">
                        @budgetLine.SpentAmount.FormatCurrency(0)
                        <span style="font-weight:lighter;">
                            of
                        </span>
                        @budgetLine.BudgetedAmount.FormatCurrency(0)
                    </div>
                </li>
            }
        </ul>

        @if (Model.SelectedBudget.UnallocatedLines.Any()) {
            <div class="row">
                <div class="col">
                    <h4>Other Income</h4>
                </div>
                <div class="col">
                    <h4 style="text-align: right;">
                        @((Model.SelectedBudget.UnallocatedIncomes.Sum(line => line.SpentAmount)).FormatCurrency(0))
                    </h4>
                </div>
            </div>
            <ul>
                @foreach (var budgetLine in Model.SelectedBudget.UnallocatedIncomes) {
                    var startDate = Model.SelectedBudget.Timespan.GetStartAndEndDate().Item1.FormatForUrl();
                    var endDate = Model.SelectedBudget.Timespan.GetStartAndEndDate().Item2.FormatForUrl();

                    <li>
                        <a style="color:black;" asp-page="/Transactions/Index" asp-route-minDate="@startDate" asp-route-maxDate="@endDate" asp-route-catFilter="@budgetLine.BudgetCategoryId">@budgetLine.BudgetCategory.FullyQualifiedName</a> @budgetLine.SpentAmount.FormatCurrency()
                    </li>
                }
            </ul>
        }

    }

    <div class="row">
        <div class="col">
            <h4>Expenses</h4>
        </div>
        <div class="col">
            <h4 style="text-align: right;">
                @Model.SelectedBudget.ExpenseLines.Sum(line => line.SpentAmount).FormatCurrency(0) of @Model.SelectedBudget.ExpenseLines.Sum(line => line.BudgetedAmount).FormatCurrency(0)
            </h4>
        </div>
    </div>

    <ul class="list-group mb-4">
        @foreach (var budgetLine in Model.SelectedBudget.ExpenseLines) {
            var todayLine = "left: " + budgetLine.TimePerent + "%;";
            var startDate = Model.SelectedBudget.Timespan.GetStartAndEndDate(Model.BudgetPeriod).Item1.FormatForUrl();
            var endDate = Model.SelectedBudget.Timespan.GetStartAndEndDate(Model.BudgetPeriod).Item2.FormatForUrl();

            var solidWidthString = "";
            var stripedWidthString = "";

            var totalBarPercent = 0d;

            var solidProgressBarClassList = "progress-bar";
            var stripedProgressBarClassList = "progress-bar progress-bar-striped";

            var spentOverBudgetedPercent = Math.Clamp((Math.Abs(budgetLine.SpentAmount) / budgetLine.BudgetedAmount) * 100, 0, 100);

            if (budgetLine.RolloverStatus == RolloverStatus.NONE) {
                solidWidthString = "width: " + spentOverBudgetedPercent + "%;";
                totalBarPercent = spentOverBudgetedPercent;
            } else if (budgetLine.RolloverStatus == RolloverStatus.POSITIVE) {
                var spentOverBudgetedPlusRolloverPercent = Math.Clamp((Math.Abs(budgetLine.SpentAmount) / (budgetLine.BudgetedAmount + budgetLine.RolloverAmount.Value)) * 100, 0, 100);
                var remainingPercent = spentOverBudgetedPercent - spentOverBudgetedPlusRolloverPercent;

                solidWidthString = "width: " + remainingPercent + "%;";
                stripedWidthString = "width: " + spentOverBudgetedPlusRolloverPercent + "%;";
                totalBarPercent = spentOverBudgetedPercent;
            } else {
                var overagePercent = Math.Clamp(Math.Abs(budgetLine.RolloverAmount.Value) / budgetLine.BudgetedAmount * 100, 0, 100);

                solidWidthString = "width: " + spentOverBudgetedPercent + "%;";
                stripedWidthString = "width: " + overagePercent + "%;";
                totalBarPercent = overagePercent + spentOverBudgetedPercent;
            }

            if (totalBarPercent >= 99.5) {
                solidProgressBarClassList += " bg-danger";
                stripedProgressBarClassList += " bg-danger";
            } else if (totalBarPercent >= 80) {
                solidProgressBarClassList += " bg-warning";
                stripedProgressBarClassList += " bg-warning";
            } else {
                solidProgressBarClassList += " bg-success";
                stripedProgressBarClassList += " bg-success";
            }

            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <p>
                            <button class="btn btn-outline-dark btn-sm" style="margin-bottom:-5px">
                                <a class="no-underline" asp-page="/Transactions/Index" asp-route-minDate="@startDate" asp-route-maxDate="@endDate" asp-route-catFilter="@budgetLine.BudgetCategoryId">@budgetLine.BudgetCategory.Name</a>
                            </button>
                        </p>
                    </div>
                    <div class="col">
                        <p style="text-align: right;">@budgetLine.Budget.TimespanString</p>
                    </div>
                </div>
                @if (budgetLine.RolloverStatus == RolloverStatus.NONE || budgetLine.RolloverStatus == RolloverStatus.NOT_READY) {
                    <div class="row">
                        <div class="col">
                            <div class="progress" style="height: 20px;">
                                <div class="@solidProgressBarClassList" role="progressbar" style="@solidWidthString">
                                    @if (Model.BudgetPeriod.Date == DateTime.Now.Date) {
                                        <ul class="marker-list">
                                            <li class="marker" style="@todayLine"></li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                } else {
                    <div class="row">
                        <div class="col">
                            <div class="progress" style="height: 20px;">
                                @if (budgetLine.RolloverStatus == RolloverStatus.POSITIVE) {
                                    <div class="@stripedProgressBarClassList" role="progressbar" style="@stripedWidthString">
                                        @if (Model.BudgetPeriod.Date == DateTime.Now.Date) {
                                            <ul class="marker-list">
                                                <li class="marker" style="@todayLine"></li>
                                            </ul>
                                        }
                                    </div>
                                    <div class="@solidProgressBarClassList" role="progressbar" style="@solidWidthString">
                                    </div>
                                } else if (budgetLine.RolloverStatus == RolloverStatus.NEGATIVE) {
                                    <div class="@solidProgressBarClassList" role="progressbar" style="@solidWidthString">
                                        @if (Model.BudgetPeriod.Date == DateTime.Now.Date) {
                                            <ul class="marker-list">
                                                <li class="marker" style="@todayLine"></li>
                                            </ul>
                                        }
                                    </div>
                                    <div class="@stripedProgressBarClassList" role="progressbar" style="@stripedWidthString">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="row text-secondary">
                    <div class="col">
                        @budgetLine.SpentAmount.FormatCurrency(0)
                        <span style="font-weight:lighter;">
                            of
                        </span>
                        @budgetLine.BudgetedAmount.FormatCurrency(0)
                        @if (budgetLine.DoRollover && budgetLine.CurrentPeriod != null) {
                            <span style="font-weight:lighter;">
                                @if (budgetLine.RolloverStatus == RolloverStatus.NEGATIVE) {
                                    <text>
                                        (@Math.Abs(budgetLine.RolloverAmount.Value).FormatCurrency(0) Over)
                                    </text>
                                } else if (budgetLine.RolloverStatus == RolloverStatus.POSITIVE) {
                                    <text>
                                        (@budgetLine.RolloverAmount.Value.FormatCurrency(0) Extra)
                                    </text>
                                }
                            </span>
                        }
                    </div>
                    @if (budgetLine.BudgetedAmount >= budgetLine.SpentAmount) {
                        <div class="col" style="text-align: right; font-weight: lighter">
                            @((budgetLine.BudgetedAmount - @budgetLine.SpentAmount).FormatCurrency(0)) Left
                        </div>
                    } else {
                        <div class="col" style="text-align: right; font-weight: lighter">
                            @((budgetLine.SpentAmount - @budgetLine.BudgetedAmount).FormatCurrency(0)) Over
                        </div>
                    }
                </div>
            </li>
        }
    </ul>

    @if (Model.SelectedBudget.UnallocatedExpenses.Any()) {
        <div class="row">
            <div class="col">
                <h4>Other Spending</h4>
            </div>
            <div class="col">
                <h4 style="text-align: right;">
                    @((Model.SelectedBudget.UnallocatedExpenses.Sum(line => line.SpentAmount) * -1).FormatCurrency(0))
                </h4>
            </div>
        </div>
        <ul>
            @foreach (var budgetLine in Model.SelectedBudget.UnallocatedExpenses) {
                var startDate = Model.SelectedBudget.Timespan.GetStartAndEndDate(Model.BudgetPeriod).Item1.FormatForUrl();
                var endDate = Model.SelectedBudget.Timespan.GetStartAndEndDate(Model.BudgetPeriod).Item2.FormatForUrl();

                <li>
                    <a style="color:black;" asp-page="/Transactions/Index" asp-route-minDate="@startDate" asp-route-maxDate="@endDate" asp-route-catFilter="@budgetLine.BudgetCategoryId">@budgetLine.BudgetCategory.FullyQualifiedName</a> @budgetLine.SpentAmount.FormatCurrency()
                </li>
            }
        </ul>
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}