@page
@using Models
@model K9_Koinz.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create New Account";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />

@await Component.InvokeAsync(nameof(Components.PageInstructions), new {
        topicName = "CreateAccount"
    })

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.FloatingFormInput(model => Model.Record.Name)
            @Html.FloatingFormInput(model => Model.Record.Description)
            @Html.FloatingFormEnumSelect(model => Model.Record.Type, typeof(AccountType), "Select an Account...")
            @Html.FloatingFormInput(model => Model.Record.InitialBalance, "number")
            @Html.FloatingFormInput(model => Model.Record.InitialBalanceDate, "date")
            @Html.FloatingFormInput(model => Model.Record.MinimumBalance, "number")

            @Html.SubmitButton("Create")
        </form>
    </div>
</div>

<div>
    <a asp-page="@PagePaths.AccountIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
