@page
@using Utils
@model K9_Koinz.Pages.Accounts.DetailsModel

@{
    ViewData["Title"] = "Account Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.CurrentBalance)
        </dt>
        <dd class="col-sm-10">
            @Model.Record.CurrentBalance.FormatCurrency(2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.MinimumBalance)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Record.MinimumBalance.HasValue) {
                @Model.Record.MinimumBalance.Value.FormatCurrency(0)
            } else {
                <span>None</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Transactions)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Merchant</th>
                    <th>Amount</th>
                    <th>Category</th>
                </tr>
                @foreach (var item in Model.Transactions) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Merchant.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="@PagePaths.AccountEdit" asp-route-id="@Model.Record.Id" class="btn btn-primary mb-2">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    <a asp-page="@PagePaths.AccountDelete" asp-route-id="@Model.Record.Id" class="btn btn-danger mb-2">
        <i class="fa-solid fa-trash"></i> Delete
    </a>
</div>

<a asp-page="@PagePaths.AccountIndex">Back to List</a>
