@page
@using Models
@model K9_Koinz.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Account List";
}

<h1>Accounts</h1>

<a asp-page="@PagePaths.AccountCreate" class="no-underline-ever">
    <span class="btn btn-success btn-sm mb-3">
        <i class="fa-solid fa-plus"></i> Create New
    </span>
</a>

<form method="get" name="form1" id="form1">
    <div class="mb-4">
        <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" , id="ShowAllAccounts" , onclick="convertAndSubmit()" checked="@Model.ShowAllAccounts" />
            <label class="form-check-label" asp-for="ShowAllAccounts"></label>
        </div>
    </div>
    <input type="hidden" name="viewAll" id="viewAll">
</form>

<script>
    function convertAndSubmit() {
        var checkbox = document.getElementById('ShowAllAccounts');
        var hiddenField = document.getElementById('viewAll');
        hiddenField.value = checkbox.checked ? 'yes' : 'no';
        document.form1.submit();
    }
</script>

@foreach (var accountType in Model.AccountDict.Keys.OrderBy(grp => grp).AsEnumerable()) {
    <div class="mb-4">
        <h4>@accountType</h4>
        @{
            var accountList = Model.AccountDict[accountType];
        }
        @if (accountList.Count > 0) {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in accountList) {
                        string rowClassList = "";
                        if (account.MinimumBalance.HasValue) {
                            if (account.CurrentBalance < account.MinimumBalance.Value) {
                                rowClassList = "table-danger";
                            } else if (account.CurrentBalance >= account.MinimumBalance.Value && account.CurrentBalance < (account.MinimumBalance.Value * 1.1)) {
                                rowClassList = "table-warning";
                            }
                        }

                        <tr class="@rowClassList">
                            <td>
                                @Html.DisplayFor(modelItem => account.Name)
                            </td>
                            <td>
                                @account.CurrentBalance.FormatCurrency()
                            </td>
                            <td>
                                <a asp-page="@PagePaths.AccountEdit" asp-route-id="@account.Id"><i class="fa-solid fa-pencil"></i></a> |
                                <a asp-page="@PagePaths.AccountDetails" asp-route-id="@account.Id"><i class="fa-solid fa-circle-info"></i></a> |
                                <a asp-page="@PagePaths.AccountDelete" asp-route-id="@account.Id"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}