@page
@model K9_Koinz.Pages.Tags.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-page="@PagePaths.TagCreate" class="no-underline-ever">
    <span class="btn btn-success btn-sm mb-3">
        <i class="fa-solid fa-plus"></i> Create New
    </span>
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tags[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags[0].ShortForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags[0].HexColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tags) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortForm)
                </td>
                <td>
                    <span style="background-color:@item.HexColor" class="badge">
                        @Html.DisplayFor(modelItem => item.HexColor)
                    </span>
                </td>
                <td>
                    <a asp-page="@PagePaths.TagEdit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a> |
                    <a asp-page="@PagePaths.TagDetails" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-page="@PagePaths.TagDelete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
