@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Transfers.Recurring.DetailsModel
@{
}

<h1>Details</h1>

<div>
    <h4>Scheduled Transfer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.FromAccountId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.FromAccount.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.ToAccountId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.ToAccount.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.CategoryId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.Category.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.MerchantId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.Merchant.Name)
        </dd>
        @if (Model.Record.SavingsGoalId.HasValue) {
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Record.SavingsGoalId)
            </dt>
            <dd class="col-sm-9">
                @if (Model.Record.SavingsGoal.SavingsType == SavingsType.BUCKET) {
                    <a asp-page="@PagePaths.SavingsBucketDetails" asp-route-id="@Model.Record.SavingsGoalId" class="no-underline">
                        @Html.DisplayFor(model => model.Record.SavingsGoal.Name)
                    </a>
                } else if (Model.Record.SavingsGoal.SavingsType == SavingsType.GOAL) {
                    <a asp-page="@PagePaths.SavingsGoalDetails" asp-route-id="@Model.Record.SavingsGoalId" class="no-underline">
                        @Html.DisplayFor(model => model.Record.SavingsGoal.Name)
                    </a>
                }
            </dd>
        }
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.RepeatConfigId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.RepeatConfig.RepeatString)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.Amount)
        </dt>
        <dd class="col-sm-9">
            @Model.Record.Amount.FormatCurrency(2)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.Notes)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.Notes)
        </dd>
    </dl>

    <h4>Fired Transfers</h4>
    @if (Model.Record.InstantiatedFromRecurring.Any()) {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Merchant</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transfer in Model.Record.InstantiatedFromRecurring) {
                    <tr>
                        <td>@Html.DisplayFor(model => transfer.Date)</td>
                        <td>@Html.DisplayFor(model => transfer.Merchant.Name)</td>
                        <td>@Html.DisplayFor(model => transfer.Category.Name)</td>
                        <td>@transfer.Amount.FormatCurrency(2)</td>
                        <td>
                            <a asp-page="@PagePaths.TransferDetails" asp-route-id="@transfer.Id"><i class="fa-solid fa-circle-info"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <p>No transactions have been created yet for this scheduled transfer.</p>
    }
</div>

<div>
    <a asp-page="@PagePaths.RecurringTransferEdit" asp-route-id="@Model.Record.Id" class="btn btn-primary mb-2">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    <a asp-page="@PagePaths.RecurringTransferDelete" asp-route-id="@Model.Record.Id" class="btn btn-danger mb-2">
        <i class="fa-solid fa-trash"></i> Delete
    </a>
</div>

<a asp-page="@PagePaths.TransferManage">Back to List</a>