@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Transactions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.MerchantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.MerchantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.CategoryName)
        </dd>
        @if (Model.Record.TagId.HasValue) {
            var style = "background-color: " + Model.Record.Tag.HexColor + "; text-decoration: none";

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Record.TagId)
            </dt>
            <dd class="col-sm-10">
                <span class="badge badge-primary" style="@style">@Model.Record.Tag.ShortForm</span>
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Amount)
        </dt>
        <dd class="col-sm-10">
            @Model.Record.Amount.FormatCurrency(2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Record.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
