@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Transactions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.MerchantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.MerchantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CategoryName)
        </dd>
        @if (Model.Transaction.TagId.HasValue) {
            var style = "background-color: " + Model.Transaction.Tag.HexColor + "; text-decoration: none";

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Transaction.TagId)
            </dt>
            <dd class="col-sm-10">
                <span class="badge badge-primary" style="@style">@Model.Transaction.Tag.ShortForm</span>
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Model.Transaction.Amount.FormatCurrency(2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Transaction.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
