@page
@using Utils
@model K9_Koinz.Pages.Transactions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Account.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.MerchantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Merchant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Category.Name)
        </dd>
        @if (Model.Transaction.TagId.HasValue) {
            var style = "background-color: " + Model.Transaction.Tag.HexColor + "; text-decoration: none";

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Transaction.TagId)
            </dt>
            <dd class="col-sm-10">
                <span class="badge badge-pill" style="@style">@Model.Transaction.Tag.ShortForm</span>
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Model.Transaction.Amount.FormatCurrency(2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Notes)
        </dd>
        @if (Model.Transaction.CreatedDate != DateTime.MinValue) {
            <dt class="col-sm-2 mt-4">
                @Html.DisplayNameFor(model => model.Transaction.CreatedDate)
            </dt>
            <dd class="col-sm-10 mt-4">
                @Html.DisplayFor(model => model.Transaction.CreatedDate)
        </dd>
        }
        @if (Model.Transaction.LastModifiedDate != DateTime.MinValue) {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Transaction.LastModifiedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Transaction.LastModifiedDate)
        </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
