@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Transactions.EditModel

@{
    ViewData["Title"] = "Edit Transaction";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.Id" />
            <input type="hidden" asp-for="Record.TransferId" />
            <div class="form-group">
                <label asp-for="Record.AccountId" class="control-label"></label>
                <select asp-for="Record.AccountId" class="form-control" asp-items="@Model.AccountOptions">
                    <option value="" selected disabled>Select an Account...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Record.Date" class="control-label"></label>
                <input asp-for="Record.Date" class="form-control" value="@Model.Record.Date.FormatForUrl()" />
                <span asp-validation-for="Record.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.MerchantId" class="control-label"></label>
                <input id="txtMerchant" class="form-control" value="@Model.Record.MerchantName">
                <input asp-for="Record.MerchantId" type="hidden" id="hfMerchant" />
                <span asp-validation-for="Record.MerchantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.CategoryId" class="control-label"></label>
                <input id="txtCategory" class="form-control" value="@Model.Record.CategoryName" />
                <input asp-for="Record.CategoryId" type="hidden" id="hfCategory" />
                <span asp-validation-for="Record.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.TagId" class="control-label"></label>
                <select asp-for="Record.TagId" class="form-control" asp-items="@Model.TagOptions">
                    <option value="@Guid.Empty">No Tag</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Record.Amount" class="control-label"></label>
                <input asp-for="Record.Amount" class="form-control" />
                <span asp-validation-for="Record.Amount" class="text-danger"></span>
            </div>
            @if (Model.Record.Category.CategoryType != Models.CategoryType.EXPENSE) {
                <div class="form-group">
                    <label asp-for="Record.SavingsGoalId" class="control-label"></label>
                    <select asp-for="Record.SavingsGoalId" class="form-control" asp-items="@Model.GoalOptions">
                        <option value="@Guid.Empty">No Goal</option>
                    </select>
                </div>
            }
            <div class="form-group">
                <label asp-for="Record.Notes" class="control-label"></label>
                <textarea asp-for="Record.Notes" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Record.Notes" class="text-danger"></span>
            </div>
            @if (Model.Record.Date.Date == Model.Record.Account.InitialBalanceDate.Date) {
                <div class="form-group">
                    <label asp-for="Record.DoNotSkip" class="control-label"></label>
                    <input asp-for="Record.DoNotSkip" />
                    <span asp-validation-for="Record.DoNotSkip" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input asp-for="Record.IsSavingsSpending" />
                <label asp-for="Record.IsSavingsSpending" class="control-label"></label>
                <span asp-validation-for="Record.IsSavingsSpending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <!-- jQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />

    <script type="text/javascript">
        $(function () {
            $("#txtMerchant").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Transactions/Edit?handler=MerchantAutoComplete",
                        data: { text: request.term },
                        type: "GET",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(JSON.stringify(response));
                        },
                        failure: function (response) {
                            alert(JSON.stringify(response));
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfMerchant").val(i.item.val);
                },
                minLength: 1
            });

            $("#txtCategory").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Transactions/Edit?handler=CategoryAutoComplete",
                        data: { text: request.term },
                        type: "GET",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(JSON.stringify(response));
                        },
                        failure: function (response) {
                            alert(JSON.stringify(response));
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCategory").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}
