@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Transactions.IndexModel

@{
    ViewData["Title"] = "Transactions";
}

<style>
    .list-group-item:nth-child(odd) {
        background-color: #eee;
    }
</style>

<h1>Your Transactions</h1>

<p>
    <a asp-page="./Create">Create New</a> |
    <a asp-page="./Print">Print View</a>
</p>

<div class="row">
    <div class="col-lg-2">
        <form asp-page="./Index" method="get">
            <div class="form-actions no-color">
                <div class="form-group mb-3">
                    <label for="dteStart">Start Date</label>
                    <input id="dteStart" type="date" name="minDate" value="@Model.MinDateString" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label for="dteEnd">End Date</label>
                    <input id="dteEnd" type="date" name="maxDate" value="@Model.MaxDateString" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <label for="cbxAccounts">Account Filter</label>
                    <select id="cbxAccounts" name="accountFilter" asp-for="AccountFilter" asp-items="Model.AccountOptions" class="form-control">
                        <option value=" " selected>Select an Account...</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="lbxCategories">Category Filter</label>
                    <select id="lbxCategories" name="catFilter" asp-for="CategoryFilters" asp-items="Model.CategoryOptions" size="15" class="form-control"></select>
                </div>

                <div class="form-group mb-3">
                    <label for="txtMerchant" class="control-label">Merchant Filter</label>
                    <input id="txtMerchant" class="form-control" placeholder="Enter a Merchant" />
                    <input asp-for="MerchantFilter" name="merchFilter" type="hidden" id="hfMerchant" value=""/>
                </div>

                <div class="form-group mb-3 d-block d-lg-none">
                    <label for="cbxSort">Sort By</label>
                    <select id="cbxSort" name="sortOrder" asp-for="CurrentSort" class="form-control">
                        <option value="" selected disabled>Select a Sort Option...</option>
                        <option value="Date">Date (Oldest First)</option>
                        <option value="date_desc">Date (Newest First)</option>
                        <option value="Merchant">Merchant (A-Z)</option>
                        <option value="merchant_desc">Merchant (Z-A)</option>
                        <option value="Amount">Amount (Smallest First)</option>
                        <option value="amount_desc">Amount (Largest First)</option>
                    </select>
                </div>

                <input type="submit" value="Go" class="btn btn-primary" /> | <a asp-page="./Index">Back to full list</a>
            </div>
        </form>
    </div>

    <div class="col-lg-10">
        <div class="d-none d-lg-block">
            <table class="table">
                <thead>
                    <tr>
                        <th class="d-none d-xl-block">
                            @Html.DisplayNameFor(model => model.Transactions[0].Account)
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                               asp-route-catFilter="@Model.SelectedCategory"
                               asp-route-accountFilter="@Model.SelectedAccount"
                               asp-route-minDate="@Model.MinDateString"
                               asp-route-maxDate="@Model.MaxDateString"
                               asp-route-merchFilter="@Model.SelectedMerchant"
                               asp-route-pageIndex="@Model.Transactions.PageIndex">
                                @Html.DisplayNameFor(model => model.Transactions[0].Date)
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.MerchantSort"
                               asp-route-catFilter="@Model.SelectedCategory"
                               asp-route-accountFilter="@Model.SelectedAccount"
                               asp-route-minDate="@Model.MinDateString"
                               asp-route-maxDate="@Model.MaxDateString"
                               asp-route-merchFilter="@Model.SelectedMerchant"
                               asp-route-pageIndex="@Model.Transactions.PageIndex">
                                @Html.DisplayNameFor(model => model.Transactions[0].MerchantId)
                            </a>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Transactions[0].Category)
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.AmountSort"
                               asp-route-catFilter="@Model.SelectedCategory"
                               asp-route-accountFilter="@Model.SelectedAccount"
                               asp-route-minDate="@Model.MinDateString"
                               asp-route-maxDate="@Model.MaxDateString"
                               asp-route-merchFilter="@Model.SelectedMerchant"
                               asp-route-pageIndex="@Model.Transactions.PageIndex">
                                @Html.DisplayNameFor(model => model.Transactions[0].Amount)
                            </a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Transactions) {
                        <tr>
                            <td class="d-none d-xl-block">
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <a asp-page="/Merchants/Details" asp-route-id="@item.MerchantId" class="link-unstyled">
                                    @if (item.TagId.HasValue) {
                                        var style = "background-color: " + item.Tag.HexColor + "; text-decoration: none";
                                        <span class="badge badge-primary" style="@style">@item.Tag.ShortForm</span>
                                    }
                                    @Html.DisplayFor(modelItem => item.MerchantName)
                                </a>
                            </td>
                            <td>
                                <a asp-page="/Categories/Details" asp-route-id="@item.CategoryId" class="link-unstyled">
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </a>
                            </td>
                            <td>
                                @if (item.TransactionType == Models.TransactionType.PLUS) {
                                    <span class="text-success">
                                        @Math.Abs(item.Amount).FormatCurrency()
                                    </span>
                                } else {
                                    <span class="text-danger">
                                        @Math.Abs(item.Amount).FormatCurrency()
                                    </span>
                                }
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a>
                                <a asp-page="./Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                                <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card mt-4 d-block d-lg-none">
            <ul class="list-group list-group-flush">
                @foreach (var transaction in Model.Transactions) {
                    <li class="list-group-item">
                        <div>
                            <div class="row">
                                <div class="col-7 text-truncate transaction-item" data-id="@transaction.Id">
                                    @if (transaction.TagId.HasValue) {
                                        var style = "background-color: " + transaction.Tag.HexColor + "; text-decoration: none";
                                        <span class="badge badge-primary" style="@style">@transaction.Tag.ShortForm</span>
                                    }
                                    @transaction.MerchantName</div>
                                <div class="col-4 text-end transaction-item" data-id="@transaction.Id">
                                    @if (transaction.TransactionType == Models.TransactionType.PLUS) {
                                        <span class="text-success">
                                            @Math.Abs(transaction.Amount).FormatCurrency()
                                        </span>
                                    } else {
                                        <span class="text-danger">
                                            @Math.Abs(transaction.Amount).FormatCurrency()
                                        </span>
                                    }
                                </div>
                                <div class="col-1">
                                    <a asp-page="./Edit" asp-route-id="@transaction.Id"><i class="fa-solid fa-pencil text-primary"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-7 text-secondary transaction-item" data-id="@transaction.Id">@transaction.CategoryName</div>
                                <div class="col-4 text-secondary text-end transaction-item" data-id="@transaction.Id">@transaction.Date.FormatShortString()</div>
                                <div class="col-1">
                                    <a asp-page="./Delete" asp-route-id="@transaction.Id"><i class="fa-solid fa-trash text-danger"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="mt-4">
            <p>
                @Model.Transactions.TotalCount <text>Items - </text> Page @Model.Transactions.PageIndex of @Model.Transactions.TotalPages
            </p>
            @{
                var prevDisabled = !Model.Transactions.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Transactions.HasNextPage ? "disabled" : "";
            }

            <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort"
               asp-route-catFilter="@Model.SelectedCategory"
               asp-route-accountFilter="@Model.SelectedAccount"
               asp-route-pageIndex="@(Model.Transactions.PageIndex - 1)"
               asp-route-minDate="@Model.MinDateString"
               asp-route-maxDate="@Model.MaxDateString"
               asp-route-merchFilter="@Model.SelectedMerchant"
               class="btn btn-primary @prevDisabled">
                Previous
            </a>

            <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort"
               asp-route-catFilter="@Model.SelectedCategory"
               asp-route-accountFilter="@Model.SelectedAccount"
               asp-route-pageIndex="@(Model.Transactions.PageIndex + 1)"
               asp-route-minDate="@Model.MinDateString"
               asp-route-maxDate="@Model.MaxDateString"
               asp-route-merchFilter="@Model.SelectedMerchant"
               class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function() {
            $(".transaction-item").click(function() {
                window.location = "/Transactions/Details?id=" + $(this).data("id");
                return false;
            });

            $("#txtMerchant").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Transactions/Index?handler=MerchantAutoComplete",
                        data: { text: request.term },
                        type: "GET",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(JSON.stringify(response));
                        },
                        failure: function (response) {
                            alert(JSON.stringify(response));
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfMerchant").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}