@page
@using Utils
@model K9_Koinz.Pages.Transactions.PrintModel

<style>
    table * {
        font-family: monospace;
    }
</style>

<div class="row d-print-none">
    <div class="col-sm-3">
        <form method="get">
            <div class="form-group">
                <label for="minDate" class="form-label">Start Date</label>
                <input type="date" name="minDate" class="form-control" value="@Model.MinDateString"/>
            </div>
            <div class="form-group">
                <label for="maxDate" class="form-label">End Date</label>
                <input type="date" name="maxDate" class="form-control" value="@Model.MaxDateString"/>
            </div>
            <div class="form-group">
                <label for="accountId" class="form-label">Account</label>
                <select name="accountId" asp-items="@Model.AccountOptions" class="form-control" asp-for="AccountFilter">
                    @if (Model.AccountFilter == null) {
                        <option value="99" disabled selected>Select one...</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table table-sm table-responsive table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Merchant</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var transaction in Model.Transactions) {
            <tr>
                <td class="col-2">@Html.DisplayFor(model => transaction.Date)</td>
                <td class="col-8">@transaction.Merchant.Name</td>
                <td class="col-2">@transaction.Amount.FormatCurrency(2)</td>
            </tr>
        }
    </tbody>
</table>
