@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Transactions.SplitModel

@{
    ViewData["Title"] = "Split Transaction";
}

<h1>Split Transaction</h1>
<hr />

<span class="text-danger">
    @Model.ErrorMessage
</span>

<h4>Parent Transaction</h4>
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParentTransaction.Account)
    </dt>
    <dd class="col-sm-9">
        <a asp-page="@PagePaths.AccountDetails" asp-route-id="@Model.ParentTransaction.AccountId" class="link-unstyled">
            @Html.DisplayFor(model => model.ParentTransaction.AccountName)
        </a>
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParentTransaction.Date)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParentTransaction.Date)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParentTransaction.MerchantId)
    </dt>
    <dd class="col-sm-9">
        <a asp-page="@PagePaths.MerchantDetails" asp-route-id="@Model.ParentTransaction.MerchantId" class="link-unstyled">
            @Html.DisplayFor(model => model.ParentTransaction.MerchantName)
        </a>
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParentTransaction.Category)
    </dt>
    <dd class="col-sm-9">
        <a asp-page="@PagePaths.CategoryDetails" asp-route-id="@Model.ParentTransaction.CategoryId" class="link-unstyled">
            @Html.DisplayFor(model => model.ParentTransaction.CategoryName)
        </a>
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParentTransaction.Amount)
    </dt>
    <dd class="col-sm-9">
        @Model.ParentTransaction.Amount.FormatCurrency(2)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.ParentTransaction.Notes)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.ParentTransaction.Notes)
    </dd>
</dl>

<h4>Split Transactions</h4>
<form method="post">
    <table class="table" id="splitTransTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(row => Model.ParentTransaction.MerchantId)</th>
                <th>@Html.DisplayNameFor(row => Model.ParentTransaction.CategoryId)</th>
                <th>@Html.DisplayNameFor(row => Model.ParentTransaction.Amount)</th>
                <th>@Html.DisplayNameFor(row => Model.ParentTransaction.Notes)</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.SplitTransactions.Count(); i++) {
                <input type="hidden" asp-for="SplitTransactions[i].Id" />
                <input type="hidden" asp-for="SplitTransactions[i].AccountId" />
                <input type="hidden" asp-for="SplitTransactions[i].TagId" />
                <input type="hidden" asp-for="SplitTransactions[i].Date" />
                <input type="hidden" asp-for="SplitTransactions[i].ParentTransactionId" />
                <tr>
                    <td>
                        <input class="form-control txtMerchant" type="text" data-index="@i" id="txtMerchant-@i" value="@Model.SplitTransactions[i].MerchantName" />
                        <input asp-for="SplitTransactions[i].MerchantId" type="hidden" class="hfMerchant" data-index="@i" id="hfMerchant-@i" />
                    </td>
                    <td>
                        <input class="form-control txtCategory" data-index="@i" id="txtCategory-@i" value="@Model.SplitTransactions[i].CategoryName" />
                        <input asp-for="SplitTransactions[i].CategoryId" type="hidden" class="hfCategory" data-index="@i" id="hfCategory-@i" />
                    </td>
                    <td>
                        <input asp-for="SplitTransactions[i].Amount" class="form-control txtAmount" data-index="@i" id="txtAmount-@i"/>
                    </td>
                    <td>
                        <input asp-for="SplitTransactions[i].Notes" rows="1" class="form-control" />
                    </td>
                </tr>
            }

            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="text" disabled id="txtTotalAmount" class="form-control" />
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary my-2">
        <i class="fa-solid fa-floppy-disk"></i> Confirm
    </button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        var total = 0;
        $(".txtAmount").change(function () {
            total = 0;
            $(".txtAmount").each((idx, item) => {
                total += parseFloat(item.value);
            });
            $("#txtTotalAmount").val(total);
        });

        $(".txtMerchant").each((idx, item) => {
            let dataIndex = item.dataset.index;
            let txtId = "#txtMerchant-" + dataIndex;
            let hfId = "#hfMerchant-" + dataIndex;

            $(txtId).autocomplete({
                source: (request, response) => autocompleteMerchants(request, response),
                select: function (e, i) {
                    $(hfId).val(i.item.val);
                },
                minLength: 1
            });
        })

        $(".txtCategory").each((idx, item) => {
            let dataIndex = item.dataset.index;
            let txtId = "#txtCategory-" + dataIndex;
            let hfId = "#hfCategory-" + dataIndex;

            $(txtId).autocomplete({
                source: (request, response) => autocompleteCategories(request, response),
                select: function (e, i) {
                    $(hfId).val(i.item.val);
                },
                minLength: 1
            });
        })
    </script>
}