@page
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Merchants.DetailsModel

@{
    ViewData["Title"] = "Merchant Details";
}

<h1>Details</h1>

<div>
    <h4>Merchant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Record.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Record.Name)
        </dd>

        <dt class="col-sm-3">
            <span>Last Year Monthly Average</span>
        </dt>
        <dd class="col-sm-9">
            @Model.LastYearAverage.FormatCurrency(0)
        </dd>

        <dt class="col-sm-3">
            <span>This Year Monthly Average</span>
        </dt>
        <dd class="col-sm-9">
            @Model.ThisYearAverage.FormatCurrency(0)
        </dd>

        @await Component.InvokeAsync(nameof(Components.DateFields), new {
            record = Model.Record
        })
    </dl>
</div>

<div class="mb-4">
    <div class="col-md-10">
        @if (Model.ChartError) {
            <p class="text-danger">There has been an error loading your spending chart.</p>
        } else {
            <div id="trendChartContainer" style="height: 300px; width: 100%; background-color: transparent;"></div>
        }
    </div>
</div>

<h4>50 Most Recent Transactions</h4>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Account</th>
        <th>Category</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in Model.Transactions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @item.Amount.FormatCurrency(2)
            </td>
        </tr>
    }
</table>

<div>
    <a asp-page="@PagePaths.MerchantEdit" asp-route-id="@Model.Record.Id" class="btn btn-primary mb-2">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    <a asp-page="@PagePaths.MerchantDelete" asp-route-id="@Model.Record.Id" class="btn btn-danger mb-2">
        <i class="fa-solid fa-trash"></i> Delete
    </a>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

    <script type="text/javascript">
        window.onload = () => {
            var chart = new CanvasJS.Chart("trendChartContainer", {
                animationEnabled: true,
                theme: "light1",
                title: {
                    text: "@Html.Raw(Model.Record.Name) Spending"
                },
                axisX: {
                    labelAngle: -45
                },
                axisY: {
                    minimum: 0,
                    title: "Amount"
                },
                data: [{
                    color: "#007bff",
                    type: "column",
                    dataPoints: @Html.Raw(Model.SpendingHistory)
                }]
            });
            chart.render();
        };
    </script>
}