@page
@using Models
@using K9_Koinz.Utils
@model K9_Koinz.Pages.Merchants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Merchants</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-4">
                @Html.DisplayNameFor(model => model.Merchants[0].Name)
            </th>
            <th>
               Transaction Count
            </th>
            <th class="col-3"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Merchants) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Transactions.Count()
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                    @if (!item.Transactions.Any()) {
                        <text>
                            | <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                        </text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>